{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <h1></h1>
        <p></p>
    </div>
    <div class="row">
        <div class="col-md-4">
            <img src="" alt="">
        </div>
        <div class="col-md-8">
            <h2></h2>
            <h3></h3>
            <p></p>
            <a href="#">Rejoignez moi sur Twitch</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <h2></h2>
            <p></p>
            <a href="#"> Pour accéder à ma chaine YouTube</a>
        </div>
        <div class="col-md-4">
        </div>
    </div>
    <div class="row">
        <h2>Le Planning</h2>
        <div class="col-md-4">
            <div class="card">
            </div>
        </div>
    </div>
    <div class="row">
        <h2>Pour me faire un don !</h2>
        <a href="">Donnation</a>
    </div>
</div>
{% endblock %}
